<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Core" version="4.1.0.2" targetFramework="net451" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="1.1.0" targetFramework="net451" />
  <package id="Microsoft.CodeAnalysis.Common" version="1.3.2" targetFramework="net451" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="1.3.2" targetFramework="net451" />
  <package id="Microsoft.Extensions.DependencyInjection" version="1.0.0" targetFramework="net451" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="1.0.0" targetFramework="net451" />
  <package id="Microsoft.Orleans.Core" version="1.4.0" targetFramework="net451" />
  <package id="Microsoft.Orleans.CounterControl" version="1.4.0" targetFramework="net451" />
  <package id="Microsoft.Orleans.OrleansCodeGenerator" version="1.4.0" targetFramework="net451" />
  <package id="Microsoft.Orleans.OrleansCodeGenerator.Build" version="1.4.0" targetFramework="net451" />
  <package id="Microsoft.Orleans.OrleansHost" version="1.4.0" targetFramework="net451" />
  <package id="Microsoft.Orleans.OrleansProviders" version="1.4.0" targetFramework="net451" />
  <package id="Microsoft.Orleans.OrleansRuntime" version="1.4.0" targetFramework="net451" />
  <package id="Microsoft.Orleans.Server" version="1.4.0" targetFramework="net451" />
  <package id="Microsoft.VSSDK.BuildTools" version="15.0.26201" targetFramework="net451" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net451" />
  <package id="System.Collections" version="4.0.11" targetFramework="net451" />
  <package id="System.Collections.Concurrent" version="4.0.12" targetFramework="net451" />
  <package id="System.Collections.Immutable" version="1.1.37" targetFramework="net451" />
  <package id="System.ComponentModel" version="4.0.1" targetFramework="net451" />
  <package id="System.Diagnostics.Debug" version="4.0.11" targetFramework="net451" />
  <package id="System.Globalization" version="4.0.11" targetFramework="net451" />
  <package id="System.IO" version="4.0.0" targetFramework="net451" />
  <package id="System.Linq" version="4.1.0" targetFramework="net451" />
  <package id="System.Linq.Expressions" version="4.1.0" targetFramework="net451" />
  <package id="System.Reflection" version="4.1.0" targetFramework="net451" />
  <package id="System.Reflection.Extensions" version="4.0.0" targetFramework="net451" />
  <package id="System.Reflection.Metadata" version="1.2.0" targetFramework="net451" />
  <package id="System.Reflection.Primitives" version="4.0.0" targetFramework="net451" />
  <package id="System.Resources.ResourceManager" version="4.0.1" targetFramework="net451" />
  <package id="System.Runtime" version="4.0.0" targetFramework="net451" />
  <package id="System.Runtime.Extensions" version="4.1.0" targetFramework="net451" />
  <package id="System.Runtime.InteropServices" version="4.0.0" targetFramework="net451" />
  <package id="System.Text.Encoding" version="4.0.0" targetFramework="net451" />
  <package id="System.Text.Encoding.Extensions" version="4.0.0" targetFramework="net451" />
  <package id="System.Threading" version="4.0.11" targetFramework="net451" />
  <package id="System.Threading.Tasks" version="4.0.11" targetFramework="net451" />
  <package id="System.ValueTuple" version="4.3.0" targetFramework="net451" />
</packages>