<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <system.diagnostics>
    <trace autoflush="true" indentsize="0">
      <listeners>
        <add name="configFileListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="OrleanRuntimeEventlog.txt" ></add>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
