<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Orleans GPS Tracker</title>
        <script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.2.min.js"></script>
        <script src="//ajax.aspnetcdn.com/ajax/signalr/jquery.signalr-2.0.1.min.js"></script>
        <script src="~/signalr/hubs"></script>
    </head>
    <body>
        <div class="container body-content">
            @RenderBody()
        </div>
    </body>
</html>
