<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="1.7.0.0" targetFramework="net45" />
  <package id="WindowsAzure.Storage" version="1.7.0.0" targetFramework="net45" />
  <package id="WiX.Toolset" version="3.9.1006.0" targetFramework="net4000" />
</packages>