<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Core" version="4.0.0.1" targetFramework="net451" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net451" />
  <package id="Microsoft.Azure.SqlDatabase.ElasticScale.Client" version="1.1.0" targetFramework="net451" />
  <package id="Microsoft.Data.Edm" version="5.6.4" targetFramework="net451" />
  <package id="Microsoft.Data.OData" version="5.6.4" targetFramework="net451" />
  <package id="Microsoft.Data.Services.Client" version="5.6.4" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net451" />
  <package id="System.Spatial" version="5.6.4" targetFramework="net451" />
  <package id="Validation" version="2.2.8" targetFramework="net451" />
  <package id="WindowsAzure.Storage" version="5.0.2" targetFramework="net451" />
  <package id="xunit" version="2.1.0" targetFramework="net451" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net451" />
  <package id="xunit.assert" version="2.1.0" targetFramework="net451" />
  <package id="xunit.core" version="2.1.0" targetFramework="net451" />
  <package id="xunit.extensibility.core" version="2.1.0" targetFramework="net451" />
  <package id="xunit.extensibility.execution" version="2.1.0" targetFramework="net451" />
  <package id="xunit.runner.console" version="2.1.0" targetFramework="net451" />
  <package id="xunit.runner.visualstudio" version="2.1.0" targetFramework="net451" />
  <package id="Xunit.SkippableFact" version="1.2.14" targetFramework="net451" />
</packages>