


<h2 id="getting-started-guide">Getting Started Guide</h2>
<ul class="list-unstyled">
	<li><a href="/orleans/Introduction">Introduction</a></li>
	<li><a href="/orleans/Benefits">Main Benefits</a></li>
	<li><a href="/orleans/Getting-Started-With-Orleans/Grains">Grains</a></li>
	<li><a href="/orleans/Getting-Started-With-Orleans/Silos">Silos</a></li>
	<li><a href="/orleans/Getting-Started-With-Orleans/Clients">Clients</a></li>
	<li><a href="/orleans/Frequently-Asked-Questions">Frequently Asked Questions</a></li>
</ul>

<h2 id="installation">Installation</h2>

<ul class="list-unstyled">
	<li><a href="/orleans/Prerequisites">Prerequisites</a></li>
	<li><a href="https://visualstudiogallery.msdn.microsoft.com/36903961-63bd-4eec-9ca4-cf2319dc75f4">Orleans Tools for Visual Studio</a></li>		
	<li><a href="https://visualstudiogallery.msdn.microsoft.com/b61c87e7-0655-4a6e-8e4f-84192950e08c">Templates from BigPark</a></li>
	<li><a href="/orleans/NuGets">Orleans NuGet Packages</a></li>
	<li><a href="/orleans/What&#x27;s-new-in-Orleans">What&#39;s new in Orleans?</a></li>
</ul>
<h2 id="programmers-guide">Programmer's Guide</h2>
<ul class="list-unstyled">
	<li><a href="/orleans/Getting-Started-With-Orleans/Developing-a-Grain">Developing a Grain</a></li>
	<li><a href="/orleans/Getting-Started-With-Orleans/Grain-Persistence">Grain Persistence</a></li>
	<li><a href="/orleans/Getting-Started-With-Orleans/Developing-a-Client">Developing a Client</a></li>
	<li><a href="/orleans/Getting-Started-With-Orleans/Observers">Client Observers</a></li>
	<li><a href="/orleans/Getting-Started-With-Orleans/Running-the-Application">Running the Application</a></li>
	<li><a href="/orleans/Advanced-Concepts/Application-Bootstrap-within-a-Silo">Application Bootstrap within a Silo</a></li>
	<li><a href="/orleans/Advanced-Concepts/Timers-and-Reminders">Timers and Reminders</a></li>
	<li><a href="/orleans/Orleans-Streams">Orleans Streams</a></li>
	<li><a href="/orleans/Getting-Started-With-Orleans/Debugging">Debugging and Symbols</a></li>
	<li><a href="/orleans/Troubleshooting-Deployment">Troubleshooting Deployment</a></li>

</ul>

<h2 id="introduction-and-tutorials">Tutorials</h2>
<ul class="list-unstyled">
	<li><a href="/orleans/Step-by-step-Tutorials">Step-by-step Tutorials</a></li>
	<li><a href="/orleans/Samples-Overview">Samples Overview</a></li>
</ul>

<h2 id="configuration">Configuration</h2>
<ul class="list-unstyled">
	<li><a href="/orleans/Orleans-Configuration-Guide">Configuration Guide </a></li>
	<li><a href="/orleans/Deployment-and-Versioning-of-Dependencies">Deployment and Versioning of Dependencies</a></li>
	<li><a href="/orleans/Advanced-Concepts/Configuring-SQL-Tables">Configuring SQL Tables</a></li>
	<li><a href="/orleans/Advanced-Concepts/Configuring-.NET-Garbage-Collection">Configuring .NET Garbage Collection</a></li>
	<li><a href="/orleans/Advanced-Concepts/Activation-Garbage-Collection">Activation Garbage Collection</a></li>
</ul>

<h2 id="advanced-documentation">Advanced Documentation</h2>

<ul class="list-unstyled">
	<li><a href="/orleans/Advanced-Concepts/Using-Immutable-to-Optimize-Copying">Using Immutable to Optimize Copying</a></li>
	<li><a href="/orleans/Advanced-Concepts/Serialization">Serialization and Writing Custom Serializers</a></li>
	<li><a href="/orleans/Advanced-Concepts/Reentrant-Grains">Reentrant Grains</a></li>
	<li><a href="/orleans/Advanced-Concepts/Request-Context">Request Context</a></li>
	<li><a href="/orleans/Advanced-Concepts/Runtime-Monitoring">Runtime Monitoring</a></li>
	<li><a href="/orleans/Advanced-Concepts/Interceptors">Interceptors</a></li>
	<li><a href="/orleans/Advanced-Concepts/Using-Azure-Web-Apps">Using Azure Web Apps</a></li>
	<li><a href="/orleans/Advanced-Concepts/External-Tasks-and-Grains">External Tasks and Grains</a></li>
	<li><a href="/orleans/Runtime-Implementation-Details/Cluster-Management">Cluster Management</a></li>
	<li><a href="/orleans/Runtime-Implementation-Details/Messaging-Delivery-Guarantees">Messaging Delivery Guarantees</a></li>
	<li><a href="/orleans/Runtime-Implementation-Details/Runtime-Tables">Runtime Tables</a></li>
	<li><a href="/orleans/Runtime-Implementation-Details/Relational-Storage">Relational Storage</a></li>
	<li><a href="/orleans/Runtime-Implementation-Details/Consul-Deployment">Consul Deployment</a></li>
	<li><a href="/orleans/Runtime-Implementation-Details/Load-Balancing">Load Balancing</a></li>
</ul>

<h2 id="community-and-contributions">Community and Contributions</h2>

<ul class="list-unstyled">
	<li><a href="https://github.com/OrleansContrib">OrleansContrib - Community add-ons to Orleans</a></li>
	<li><a href="https://github.com/OrleansContrib/meetups">Orleans Community Virtual Meetups</a></li>
	<li><a href="https://gitter.im/dotnet/orleans">Orleans Gitter Chat Forum</a></li>
	<li><a href="https://twitter.com/projectorleans">Twitter - @ProjectOrleans</a></li>
	<li><a href="https://orleans.codeplex.com">Orleans on Codeplex (Historical)</a></li> 
	<li><a href="http://stackoverflow.com/questions/tagged/orleans">Orleans on StackOverflow</a></li>
	<li><a href="/orleans/Who-Is-Using-Orleans">Who Is Using Orleans?</a></li>
</ul>

<h2 id="contributing-to-this-project">Contributing To This Project</h2>

<ul class="list-unstyled">
	<li><a href="/orleans/Contributing">Contribution Guide</a></li>
	<li><a href="https://github.com/dotnet/orleans/issues">GitHub Issues List</a></li>
</ul>

<h2 id="other-documentation-resources">Other Documentation Resources</h2>

<ul class="list-unstyled">
	<li><a href="http://research.microsoft.com/projects/orleans/">Microsoft Research Project Orleans Home Page</a></li>
	<li><a href="http://research.microsoft.com/apps/pubs/default.aspx?id=210931">Orleans Technical Report</a></li>
	<li><a href="http://research.microsoft.com/apps/pubs/default.aspx?id=244727">Orleans Best Practices</a></li>
	<li><a href="/orleans/Links">Links</a></li>
	<li><a href="/orleans/Presentations">Presentations</a></li>
</ul>
