<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="OrleansUnitTestContainer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <trace autoflush="true" indentsize="0">
      <listeners>
        <add name="configFileListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="OrleanRuntimeEventlog.txt" ></add>
      </listeners>
    </trace>
  </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <userSettings>
    <OrleansUnitTestContainer.Properties.Settings>
      <setting name="InputPath" serializeAs="String">
        <value>C:\Depot\Orleans\Code\Prototype\OrleansV4\UnitTests\bin\Debug</value>
      </setting>
      <setting name="LogPath" serializeAs="String">
        <value>C:\Depot\Orleans\Code\Prototype\OrleansV4\UnitTests\bin\Debug</value>
      </setting>
      <setting name="LastRunDll" serializeAs="String">
        <value>C:\Depot\Orleans\Code\Prototype\OrleansV4\UnitTests\bin\Debug\UnitTests.dll</value>
      </setting>
    </OrleansUnitTestContainer.Properties.Settings>
  </userSettings>
</configuration>
