<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LogicAnalyzerMain.Properties.Settings.Database1ConnectionString"
            connectionString="Data Source=C:\Users\a-roestr\documents\visual studio 2010\Projects\WpfApplication2\LogAnalyzerBusinessLogic\Database1.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>