.top-buffer {
    margin-top: 10px
}

.bottom-buffer {
    margin-bottom: 10px
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px; /* Margin bottom by footer height */
}

.footer {
    position: absolute;
    bottom: 0;
}
