<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>

  <packageSources>
    <add key="build" value="..\..\..\Binaries\NuGet.Packages" />
    <add key="VSO" value="..\..\..\..\bin\NuGet.Packages" />
    <add key="NuGet official package source" value="https://nuget.org/api/v2/" />
  </packageSources>
</configuration>